<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.yeee.memo.demo.elasticsearch.domain.mysql.mapper.TProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.yeee.memo.demo.elasticsearch.domain.mysql.entity.TProject">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="blurb" property="blurb" />
        <result column="cover_path" property="coverPath" />
        <result column="total_fund_raising" property="totalFundRaising" />
        <result column="has_fund_raising" property="hasFundRaising" />
        <result column="user_id" property="userId" />
        <result column="category_id" property="categoryId" />
        <result column="launch_date_raising" property="launchDateRaising" />
        <result column="days_raising" property="daysRaising" />
        <result column="has_finish" property="hasFinish" />
        <result column="has_audits" property="hasAudits" />
        <result column="has_index" property="hasIndex" />
        <result column="shenfen" property="shenfen" />
        <result column="online_time" property="onlineTime" />
        <result column="is_settlement" property="isSettlement" />
    </resultMap>

</mapper>
