<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.yeee.memo.integrate.common.service.mapper.ApiUserIdentityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.yeee.memo.integrate.common.service.entity.ApiUserIdentity">
        <id column="id" property="id" />
        <result column="user_type" property="userType" />
        <result column="app_type" property="appType" />
        <result column="subject_id" property="subjectId" />
        <result column="union_id" property="unionId" />
        <result column="open_id" property="openId" />
        <result column="mobile" property="mobile" />
        <result column="qq" property="qq" />
        <result column="email" property="email" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="del" property="del" />
    </resultMap>

</mapper>
